.dialog {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.24);
    z-index: 1000;
}

/* dialog ban co muon xoa hay khong */

.dialog__msg-box {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #fff;
    width: 444px;
    min-width: 400px;
    height: 182px;
    padding : 32px;
}

.dialog__msg-box .msg-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.dialog__msg-box .dialog__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

