.dialog {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.24);
    z-index: 1000;
}


.dialog__content {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #fff;
    min-width: 400px;
}

.dialog__header {
    border-radius: 4px;
    padding: 24px 24px 0 24px;
}

.dialog__body {
    padding: 24px;
}

.dialog__msg-item {
    display: flex;
    align-items: center;
    background-size: 16px;
    padding-left: 24px;
}

.dialog__msg-item~.dialog__msg-item {
    margin-top: 8px;
}

.dialog__footer {
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: #f5f5f5;
    box-sizing: border-box;
    padding: 8px 24px;
    border-radius: 0 0 4px 4px;
    flex-direction: row-reverse;
}

.dialog__footer button~button {
    margin-right: 8px;
}


/* dialog ban co muon xoa hay khong */

.dialog__msg-box {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #fff;
    width: 444px;
    min-width: 400px;
    height: 182px;
    padding : 32px;
}

.dialog__msg-box .msg-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.dialog__msg-box .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

