.row-2 {
    display: grid;
    grid-template-rows: repeat(2, 50%);
}
.row-3 {
    display: grid;
    grid-template-rows: repeat(3, 33.33%);
}

.col-2 {
    display: grid;
    grid-template-columns: repeat(2, 50%);
}   

.col-3 {
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
}