.m-icon {
    background-repeat: no-repeat;
}

.m-icon-16 {
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    min-width: 16px;
    min-height: 16px;
}

.m-icon-14 {
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
}
.m-icon-24 {
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    min-width: 24px;
    min-height: 24px;
}

.m-icon-32 {
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
}

.m__icon-dashboard {
    background-image: url(../../assets/img/Sprites.64af8f61.svg);
    background-position: -33px -1630px;
}

.m__icon-cash {
    background-image: url(../../assets/img/Sprites.64af8f61.svg);
    background-position: -78px -1630px;
}

.m__icon-deposit {
    background-image: url(../../assets/img/Sprites.64af8f61.svg);
    background-position: -427px -1630px;
}

.m__icon-buy {
    background-image: url(../../assets/img/Sprites.64af8f61.svg);
    background-position: -165px -1630px;
}

.m__icon-sell {
    background-image: url(../../assets/img/Sprites.64af8f61.svg);
    background-position: -206px -1630px;
}

.m__icon-bill {
    background-image: url(../../assets/img/Sprites.64af8f61.svg);
    background-position: -254px -1630px;
}

.m__icon-warehouse {
    background-image: url(../../assets/img/Sprites.64af8f61.svg);
    background-position: -121px -1630px;
}

.m__icon-tool {
    background-image: url(../../assets/img/Sprites.64af8f61.svg);
    background-position: -339px -1630px;
}

.m__icon-defaultassets {
    background-image: url(../../assets/img/Sprites.64af8f61.svg);
    background-position: -382px -1630px;
}

.m__icon-salary {
    background-image: url(../../assets/img/Sprites.64af8f61.svg);
    background-position: -471px -1630px;
}

.m__icon-tax {
    background-image: url(../../assets/img/Sprites.64af8f61.svg);
    background-position: -427px -1630px;
}

.m__icon-close {
    background-image: url(../../assets/img/Sprites.64af8f61.svg);
    background-position: -147px -147px;
    width: 18px;
    height: 18px;
}


.m__icon-help {
    background-image: url(../../assets/img/Sprites.64af8f61.svg);
    background-position: -89px -145px;
    width: 22px;
    height: 22px;
}

.m__icon-warning {
    background: url(../../assets/img/Sprites.64af8f61.svg) no-repeat -598px -463px;
	width: 36px;
	height: 37px;
}

.m__icon-success {
    background: url(../../assets/img/Sprites.64af8f61.svg) no-repeat -288px -894px;
	width: 32px;
	height: 32px;
}

.m__icon-question {
    background: url(../../assets/img/Sprites.64af8f61.svg) no-repeat -832px -462px;
	width: 36px;
	height: 36px;
}









.m-arrow-dropdown {
    background-image: url(../../assets/img/Sprites.64af8f61.svg);
    background-repeat: no-repeat;
    background-position: -564px -365px;
    width: 8px;
	height: 5px;
}

.m-arrow-dropdown-blue {
    background-image: url(../../assets/img/Sprites.64af8f61.svg);
    background-repeat: no-repeat;
    background-position: -900px -365px;
    width: 8px;
	height: 6px;
}